{% extends "main/base.html" %}

{% load static %}
{% load goods_tags %}

{% block content %}
<!-- Products Section -->
<section id="products" class="container mt-5">

  <div class="row">
    <!-- Example Product Card -->
    {% tag_products as products %}
    {% for product in products %}
      <div class="col-md-3">
      <div class="card mb-4 shadow-sm">

      {% if product.image %}
        <img src="{{ product.image.url }}" class="card-img-top" alt="{{product.name}}">
      {% else %}
        <img src="#" class="card-img-top" alt="Not Found">
      {% endif %}
        <div class="card-body">
          <a href="{% url "categories:products" product.id %}"><h5 class="card-title">{{product.name}}</h5> </a>
          <p class="card-text">{{product.description}}</p>

          <p class="product_id mt-3">id: {{product.id}}</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button>
            </div>
            <small class="text-muted">{{product.price}}$</small>
          </div>

        </div>
      </div>
    </div>
    {% endfor %}

    <!-- Repeat product cards as needed -->
  </div>
<!-- pagination -->
  <nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a class="page-link">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>
</section>
{% endblock %}
