{% extends "main/base.html" %}

{% load static %}
{% load goods_tags %}

{% block form %}
    <form class="d-flex" role="search" action="{% url "categories:search" %}" method="get">
              <input class="form-control me-2" type="search" name="q" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit" style="background-color: white; color: black; border-color: black;">Search</button>
            </form>
{% endblock %}

{% block content %}
<!-- Products Section -->
<section id="products" class="container mt-5">
  <div class="row">
    <!-- Example Product Card -->
    {% if request.GET.q %}
        <h3 class="mt-4">Results {{ request.GET.q }}</h3>
    {% if not goods %}
        <h3 class="mt-4">Not Found</h3>
    {% endif %}
    {% endif %}

    {% for product in goods %}
      <div class="col-md-3">
        <div class="card mb-4 shadow-sm">
          {% if product.image %}
            <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
          {% else %}
            <img src="#" class="card-img-top" alt="Not Found">
          {% endif %}
          <div class="card-body">
            <a href="{% url 'goods:products' product.slug %}">
            <h5 class="card-title">
            {% autoescape off %}
                {% if product.headline %}
                    {{ product.headline }}
                {% else %}
                    {{ product.name }}
                {% endif %}
            {% endautoescape %}
            </h5></a>
            <p class="card-text">
            {% autoescape off %}
                {% if product.bodyline %}
                    {{ product.bodyline }}
                {% else %}
                    {{ product.description|truncatechars:55}}
                {% endif %}
            {% endautoescape %}
            </p>
            <p class="product_id mt-3">id: {{ product.id }}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button>
              </div>
              <small class="text-muted">{{ product.price }}$</small>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
    <!-- Repeat product cards as needed -->
  </div>

  <!-- Pagination -->
                      <ul class="pagination justify-content-center my-4">
                            <div class="custom-shadow d-flex">
                                <li class="page-item {% if not goods.has_previous %}disabled{% endif %}">
                                  <a class="page-link" href="{% if goods.has_previous %}?{% change_params page=goods.previous_page_number %}
                                    {% else %}
                                        #
                                    {% endif %}">Previous</a>
                                </li>
                                {% for page in goods.paginator.page_range %}
                                 {% if page >= goods.number|add:-2 and page <= goods.number|add:2 %}
                                    <li class="page-item {% if goods.number == page %} active {% endif  %}"><a class="page-link" href="?{% change_params page=page %}">{{ page }}</a></li>
                                 {% endif %}
                                {% endfor %}
                                <li class="page-item {% if not goods.has_next %}disabled{% endif %}">
                                  <a class="page-link" href="{% if goods.has_next %}
                                    ?{% change_params page=goods.next_page_number %}
                                    {% else %}
                                        #
                                    {% endif %}">Next</a>
                                </li>
                            </div>
                        </ul>
                    </nav>
</section>


{% endblock %}
