{% extends "main/base.html" %}
{% load static %}



{% block content %}
 <div class="container-about mt-5">
        <h1 class="text-center">About Funiro</h1>
        <p>Welcome to Funiro, your premier destination for stylish, high-quality furniture that brings comfort, elegance, and functionality to your home. At Funiro, we believe that your home is a reflection of your personality, and we are committed to helping you create spaces that inspire and delight you every day.</p>

        <h2 class="text-center mt-4">Our Story</h2>
        <p>Founded in 2020, Funiro was born from a passion for design and a desire to make beautiful, well-crafted furniture accessible to everyone. Our journey began with a simple idea: to combine timeless design with exceptional craftsmanship, creating pieces that are not only aesthetically pleasing but also durable and functional.</p>

        <h2 class="text-center mt-4">Our Mission</h2>
        <p>Our mission is to transform every house into a home with our thoughtfully designed and meticulously crafted furniture. We strive to offer a diverse range of products that cater to various tastes and styles, ensuring that everyone can find something that resonates with their vision of the perfect home.</p>
    </div>
{% endblock %}

